/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070; /*точно оставить*/
  --background-color: #000028; /*точно оставить*/
  --text-color: #f1b2ce; /*точно оставить*/
  --heading-button-and-angle: #ff0070;
  --heading-button-and-angle-rgba: rgba(255, 0, 112, 0.4);
  --caption-color: #db00ff; /*оставить*/
  --section-title-color: #ff0070;
  --title-color: #000028; /*точно оставить*/
  --font-family: "IBM Plex mono", serif;
  --background-image: url("../images/cover-image-dark.png");
  --font-size: 18px;
  --font-weight: bold;
  --gap: 10px;
}
